*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    margin: 20px;
}
.p_j_one{
    background-image: url(https://img.freepik.com/free-photo/colorful-wallpaper-background-multicolored-generative-ai_91128-2257.jpg);
}