*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    margin: 20px;
}
.p_j_one{
    background-image: url(https://img.freepik.com/free-photo/colorful-wallpaper-background-multicolored-generative-ai_91128-2257.jpg);
}
.bdyggg{
    background-image: url(./Leonardo_Phoenix_Create_a_visually_striking_minimalist_image_t_2.jpg);
}


.all_hover{
    
    font-weight: bold;
    height:480px;
    position: absolute;
    left:0;
    top: 90%;
    color: blue;
    font-size: x-large;
}


.coded_hoverr{
    display: none;
    font-weight: bold;
    height:480px;
    color: rgb(0, 0, 0);
    position: absolute;
    left:0;
    top: 90%;

}
.coded:hover .coded_hoverr{
    display:inherit;
    color: green;
    font-size: x-large;
    z-index: 20;
}


.designed_hoverrr{
    display: none;
    font-weight: bold;
    height:460px;
    position: absolute;
    left:0;
    top: 90%;
}

.designed:hover .designed_hoverrr{
    display: inherit;
    font-size: x-large;
    z-index: 20;
}
.designed:hover{
   color: red;
}

.coded:hover{
    color: green;
}

#hover_img{
    border-width: 10px;
   border-style:outset;
   border-color: aqua;
}